*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins';
}
.banner{
  width: 100%;
  height: 100vh;
}
.navbar-container{
  margin-top: 0;
  display: flex;
  justify-content: space-between;
 align-items: center;
  height: 65px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 2px 0.1px 1.5px black;
}
.center a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.navbar-container .left-navbar ul, .right-navbar ul{
  list-style: none;
}
.navbar-container .left-navbar ul li, .right-navbar ul li{
  display: inline-block;
}
.navbar-container .left-navbar ul li{
  padding: 8px;
}
.right-navbar ul li{
  padding: 8px 14px;
}
.navbar-container .left-navbar ul li a, .right-navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: black;
  cursor: pointer;
  transition: opacity 0.1s;
}
.navbar-container .left-navbar ul li a:hover, .right-navbar ul li a:hover{
  opacity: 0.3;
}
.authentication-container{
  margin-top: 100px;
  margin-left: 280px;
}
#heading{
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
}
#headingx{
  margin-bottom: 9px;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 20px;
}
#headingx a{
  text-decoration: none;
}
.extra-info{
  margin-bottom: 10px;
}
.extra-info ul{
  list-style-type: none;
}
.extra-info ul li{
  display: block;
  padding-bottom: 5px;
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 20px;
}
.action input{
  outline: none;
  width: 500px;
  padding: 16px;
  font-size: 13px;
  background-color: #F7F7F7;
  border: 0.1px solid black;
  text-align: left;
  margin-bottom: 40px;
}
.action button{
  width: 500px;
  padding: 17px;
  border: 0.1px solid black;
  text-transform: uppercase;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
} 
#google{
  width: 500px;
  padding: 17px;
  border: 0.1px solid black;
  text-transform: uppercase;
  background-color:white;
  color: black;
  cursor: pointer;
  margin-bottom: 80px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin-left: 70px;
  margin-bottom: 100px;
}
.footer p{
  cursor: pointer;
}
.contact-us{
  margin-left:20px;
}
#contact-us{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}
#p1{
  color: blue;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
#p1 sup{
  color: green;
  margin-left: 3px;
}
#help-us{
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}
#p2{
  color: blue;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
#p2X{
  color: blue;
  font-size: 13px;
  letter-spacing: 0.3px;
}
#client-service{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
#p4{
  color: blue;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
#company{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px; 
}
#p5{
  color: blue;
  margin-bottom: 6px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.footerlink-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid black;
  padding: 5px 12px;
  box-shadow: 1px 1px 3px black;
}
.home-logo ul, .social-media ul, .last ul{
  list-style: none;
}
.home-logo ul li, .social-media ul li, .last ul li{
  display: inline-block;
  padding: 8px 14px;
}
.home-logo ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  line-height: 20px;
  letter-spacing: 0.3px;
}
.last ul li a{
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.3px;
  cursor: pointer;
}
.social-media ul li a{
  cursor: pointer;
}