*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
}
.navbar-container{
  margin-top: 0;
  display: flex;
  justify-content: space-between;
 align-items: flex-start;
  height: 45px;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar-container .left-navbar ul, .right-navbar ul{
  list-style: none;
}
.navbar-container .left-navbar ul li, .right-navbar ul li{
  display: inline-block;
}
.navbar-container .left-navbar ul li{
  padding: 8px;
}
.right-navbar ul li{
  padding: 8px 14px;
}
.navbar-container .left-navbar ul li a, .right-navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: black;
  cursor: pointer;
  transition: opacity 0.1s;
}
.navbar-container .left-navbar ul li a:hover, .right-navbar ul li a:hover{
  opacity: 0.3;
}
.home-display{
  display: flex;
  margin-top: 120px;
  position: relative;
}
/* .logox p{
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 15%;
  font-size: 7.5rem;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.2px;
} */
.shop-woman{
  width: 1050px;
  height: 750px;
}
.shop-man{
  width: 1050px;
  height: 750px; 
}
.shop-woman p{
  position: absolute;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 8px;
}
.shop-woman img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.shop-man p{
  position: absolute;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 8px;
}
.shop-man img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.video-container{
  background-color: rgba(0,0,0,0.1);
}
.video-container p{
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 12px;
}
.video video{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.collection-display {
  display: flex;
}
.collection-display img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.collection-display{
  display: flex;
}


