*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  /* position: relative; */
}
.navbar-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 0.1px solid black;
  background-color: white;
  position: fixed;
  z-index: 1000; 
  width: 100%;
  top: 0;

}
.left-navbar ul,.right-navbar ul{
  list-style: none;
}
.left-navbar{
  margin-left: 8px;
}
.right-navbar{
  margin-right: 12px;
  margin-top: 26px;
}
.left-navbar ul li,.right-navbar ul li{
  display: inline-block;
  padding: 6px 22px;
}
.left-navbar ul li a,.right-navbar ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  color: black;
  cursor: pointer;
  line-height: 12px;
  letter-spacing: 0.8px;
}
.left-navbar ul li a:hover,.right-navbar ul li a:hover{
  font-weight: 700;
}
.homepage-container{
  position: relative;
  transform: translateX(-50%);
  top: 18%;
  left: 52%;
  width: 450px;
  height: 550px;
  margin-bottom: 100px;
}
.homepage-container img{
  width: 100%;
  height: 100%;
  background-size: contain;
  z-index: 1;
}
.footer{
 position: relative;
 display: flex;
 justify-content: space-between;
}
.right ul, .left ul{
  list-style: none;
}
.right ul li, .left ul li {
  display: inline-block;
}
.left a{
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  line-height: 0.8px;
  letter-spacing: 0.8px;
  margin-left: 10px;
  cursor: pointer;
}
.left a:hover{
  font-weight: 600;
}
.right a{
  margin-right: 10px;
  font-weight: 200;
  font-size: 12px;
  line-height: 0.8px;
  text-decoration: none;
  cursor: text;
}
.right ul li a, .left ul li a{
  color: black;
}
.newletter-container{
  position: absolute;
  top: 50%;
  left: 20%;
  width: 495px;
  border: 1px solid black;
  height: 171px;
  background-color:rgba(0,0,0,0.3);
  margin-left: 100px;
  display: none;
}
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.newletter-container .header p{
  font-size: 10px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 600;
}
.closeButton ul{
  list-style: none;
}
.closeButton ul li{
  display: inline-block;
}
.closeButton a{
  text-decoration: none;
  margin-right: 15px;
  color: black;
  font-size: 17px;
}
.input-field input{
  width: 455px;
  height: 25px;
  outline: 1px solid;
  border: none;
  padding: 6px;
  margin-left: 10px;
  text-align: left;
  margin-bottom: 20px;
  font-family: monospace;
  font-family: 15px;
}
.input-field input:placeholder-shown{
  text-transform: uppercase;
  text-align: left;
  font-family: monospace;
  font-weight: bold;
}
.input-field input:focus{
  font-family: monospace;
  font-size: 15px;
}
.button{
  margin-left: 10px;
}
.button button{
  width: 470px;
  height: 35px;
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
